dialog-mask {
  display: block;
  background: rgba(32, 32, 32, 0.75);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}
dialog-mask form {
  text-shadow: 0 0 2px white;
  display: block;
  background: rgba(255, 255, 255, 0.75);
  margin: 5% 5%;
  border: 1px solid black;
  box-shadow: 0 2px 5px black;
  border-radius: 10px
}
dialog-mask p {
  display: block;
  padding: 1em;
}
