$local-color: yellow;
$remote-color: white;
player-board {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 0 1em ;
  background: rgba(0, 0, 0, 0.8);
  color: $remote-color;
  text-shadow: 0 0 2px black;
  padding: 1em 0 1em 1em;
  td {
    &:first {
      font-weight: 700;
    }
    padding-right: 0.5em;
  }
  .local {
    color: $local-color;
    &.info {
      color: darken($local-color, 15);
    }
  }
  .info {
    color: darken($remote-color, 15);
    font-size: 0.8em;
  }
}
