:root {
  --local-color: yellow;
  --remote-color: white;
}

player-board {
  position: fixed;
  font-size: 14px;
  top: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  border-radius: 0 0 0 1em;
  background: rgba(0, 0, 0, 0.8);
  color: var(--remote-color);
  text-shadow: 0 0 2px black;
  padding: 1em 0 1em 1em;
  max-height: 400px;
  overflow-y: auto;
  td {
    &:first {
      font-weight: 700;
    }
    padding-right: 0.5em;
  }
  .local {
    color: var(--local-color);
    &.info {
      color: darken(var(--local-color), 15);
    }
  }
  .info {
    color: darken(var(--remote-color), 15);
    font-size: 0.8em;
  }
}
